*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2e2e32;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu Mono", monospace;

}

header{
    background-color: #1e1e22;
}

header h1{
    font-size: 32px;
    font-weight: bold;
    padding:10px ;
}

header span{
    color: #DB1F48;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 5px 5px 0px 5px;
}

.main{
    display: flex;
    justify-content: end;
    margin-top: 80px;
}

.main h2{
    font-size: 16px;
    padding-right: 10px;
}

.imagem{
   margin-top:50px ;
}

footer.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1e1e22;
    height: 300px;
    gap: 30px;
    margin-top: 50px;
}

.input label{
    margin-bottom: -20px;
    margin-left: 35px;
}

.input input, select{
    height: 45px;
    width: 80vw;
    text-align: center;
    align-self: center;
    background-color: #d9d9d9;
    border-radius: 10px;
}
