.menu-mobile[open] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border: none;
  text-align: center;
  height: 90%;
  width: 100%;
}
.desktop-menu-list {
  display: none;
}
.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  color: var(--ugly_white);
}
.menu-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .navbar__btn {
    display: none;
  }
  .desktop-menu-list {
    display: flex;
    flex-direction: row;
    gap: 64px;
    list-style: none;
    align-items: center;
    justify-content: center;
    color: var(--ugly_white);
  }
}
