.main {
    background-color: var(--background);
    padding-top: 42px;
    min-height: 100vh;
}

.rank-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 32px;
}

.rank-title {
    color: var(--ugly_white);
    font-size: 1.5rem;
    text-align: center;
}

.rank-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 300px;
}

.rank-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: var(--border_radius);
}

.rank-position {
    font-size: 1.2rem;
    margin-right: 15px;
}

.rank-name {
    font-size: 1.2rem;
}

.--green-bg {
    background-color: var(--bright_green);
}

.--pink-bg {
    background-color: var(--pink);
}

@media screen and (min-width: 768px) {
    .rank-container {
        padding: 64px;
        gap: 64px;
    }

    .rank-title {
        font-size: 2rem;
    }

    .rank-list {
        max-width: 400px;
    }
}
