:root {
  --black: #1e1e22;
  --blue_bright: #bdcffa;
  --ugly_white: #d9d9d9;
  --pink: #ff54cb;
  --bright_green: #0ff180;
  --background: #2e2e32;
  --border_radius: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  /* overflow-x:hidden; */
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--black);
  padding: 22px;
}
.navbar__btn {
  background-color: transparent;
  border: none;
}
.main {
  background-color: var(--background);
  padding-top: 42px;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 32px;
  color: var(--ugly_white);
  width: 100vw;
  padding: 32px;
  height: 300px;
}
.welcome__title__desktop {
  display: none;
}
.welcome__title__mobile {
  text-align: end;
  font-size: 1rem;
}
.welcome__man {
  max-height: 144px;
  max-width: 92px;
}
.setup {
  background-color: var(--black);
  min-height: 100px;
  width: 100%;
}
.setup__form__desktop{
  display: none;
}
.setup__form__mobile {
  color: var(--ugly_white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--black);
  gap: 30px;
  padding: 32px;
  padding-bottom: 78px;
}
.input__group{
  display: flex;
  flex-direction: column;
}
#name,
#theme {
  text-align: center;
  border-radius: var(--border_radius);
  background-color: var(--ugly_white);
  width: 267px;
  height: 44px;
  margin-top: 15px;
}
.btn {
  border-radius: var(--border_radius);
  width: 262px;
  height: 44px;
}
.--green {
  background-color: var(--bright_green);
  border: none;
}
.--pink {
  background-color: var(--pink);
  border: none;
}
.--black {
  background-color: var(--black);
  color: var(--ugly_white);
  border: none;
}

@media screen and (min-width: 768px) {
  .welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    color: var(--ugly_white);
    width: 100%;
    height: 100vh;
  }

  .welcome__title__mobile{
    display: none;
  }
  .welcome__title__desktop{
    display: block;
  }

  .setup__form__mobile{
    display: none;
  }

  .setup__form__desktop{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .setup__form{
    order: 1;
  }
}
